html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h1 {
    color: #007bff;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

.btn {
    margin-right: 10px;
}

img {
    margin-top: 20px;
    border-radius: 10px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #343a40;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p, footer ul, footer li {
    font-size: 14px;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #007bff;
    text-decoration: underline;
}

body{
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100vh;
}

main {
    flex: 1;
}




.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

#background {
    position: relative;
    height: 50vh; /* Ajusté pour une meilleure vue sur mobile */
    width: 100%;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/image_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(80%);
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 90%;
}

.text-overlay h1 {
    font-size: calc(2em + 2vw);
    padding-top: 5vh;
    color: white;
}

@media (max-width: 768px) {
    .text-overlay h1 {
        font-size: calc(1.5em + 2vw);
    }
}


#content_section {
    min-height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container{
    padding: 30px;
}
#reviews_section {
    min-height: calc(60vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#reviews_section .row {
    width: 100%;
}

#reviews_section .col-md-4 {
    display: flex;
    justify-content: center;
}

#reviews_section .card {
    background-color: #007bff;
    color: white;
    border: none;
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#reviews_section .card h5 {
    color: #ffffff;
}

#reviews_section .card h6 {
    color: gold;
    margin-bottom: 10px;
}

#reviews_section .card p {
    font-size: 16px;
}



