html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
main {
    padding-top: 60px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: block;
}

.title {
    text-align: center;
    font-size: 36px;
    color: #333333;
}

.subtitle {
    text-align: center;
    font-size: 24px;
    color: #666666;
}

.section {
    margin: 20px 0;
}

.section-title {
    font-size: 20px;
    color: #0099ff;
    margin-bottom: 10px;
}

.section-content {
    font-size: 16px;
    color: #333333;
}


.code {
    display: block;
    width: 100%;
    height: auto;
    margin: 10px 0;
    padding: 10px;
    background-color: #e0e0e0;
    font-family: "Courier New", monospace;
    overflow-x: scroll;
    font-size: 14px;
    color: #000000;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #343a40;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p, footer ul, footer li {
    font-size: 14px;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #007bff;
    text-decoration: underline;
}